


.panel {
    margin-bottom:20px;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05);
    box-shadow:0 1px 1px rgba(0, 0, 0, .05)
}
.panel-body {
    padding:15px
}
.panel-heading {
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:3px;
    border-top-left-radius:3px
}
.panel-heading>.dropdown .dropdown-toggle {
    color:inherit
}
.panel-title {
    margin-top:0;
    margin-bottom:0;
    font-size:16px;
    color:inherit
}
.panel-title>a {
    color:inherit
}
.panel>.table, .panel>.table-responsive>.table {
    margin-bottom:0
}
.panel>.table:first-child, .panel>.table-responsive:first-child>.table:first-child {
    border-top-right-radius:3px;
    border-top-left-radius:3px
}
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child {
    border-top-left-radius:3px
}
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child {
    border-top-right-radius:3px
}
.panel>.table:last-child, .panel>.table-responsive:last-child>.table:last-child {
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px
}
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius:3px
}
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:last-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-right-radius:3px
}
.panel>.panel-body+.table, .panel>.panel-body+.table-responsive {
    border-top:1px solid #ddd
}
.panel>.table>tbody:first-child>tr:first-child th, .panel>.table>tbody:first-child>tr:first-child td {
    border-top:0
}
.panel>.table-bordered, .panel>.table-responsive>.table-bordered {
    border:0
}
.panel>.table-bordered>thead>tr>th:first-child, .panel>.table-responsive>.table-bordered>thead>tr>th:first-child, .panel>.table-bordered>tbody>tr>th:first-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:first-child, .panel>.table-bordered>tfoot>tr>th:first-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child, .panel>.table-bordered>thead>tr>td:first-child, .panel>.table-responsive>.table-bordered>thead>tr>td:first-child, .panel>.table-bordered>tbody>tr>td:first-child, .panel>.table-responsive>.table-bordered>tbody>tr>td:first-child, .panel>.table-bordered>tfoot>tr>td:first-child, .panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-left:0
}
.panel>.table-bordered>thead>tr>th:last-child, .panel>.table-responsive>.table-bordered>thead>tr>th:last-child, .panel>.table-bordered>tbody>tr>th:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:last-child, .panel>.table-bordered>tfoot>tr>th:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child, .panel>.table-bordered>thead>tr>td:last-child, .panel>.table-responsive>.table-bordered>thead>tr>td:last-child, .panel>.table-bordered>tbody>tr>td:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>td:last-child, .panel>.table-bordered>tfoot>tr>td:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-right:0
}
.panel>.table-bordered>thead>tr:first-child>td, .panel>.table-responsive>.table-bordered>thead>tr:first-child>td, .panel>.table-bordered>tbody>tr:first-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:first-child>td, .panel>.table-bordered>thead>tr:first-child>th, .panel>.table-responsive>.table-bordered>thead>tr:first-child>th, .panel>.table-bordered>tbody>tr:first-child>th, .panel>.table-responsive>.table-bordered>tbody>tr:first-child>th {
    border-bottom:0
}
.panel>.table-bordered>tbody>tr:last-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>td, .panel>.table-bordered>tfoot>tr:last-child>td, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td, .panel>.table-bordered>tbody>tr:last-child>th, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>th, .panel>.table-bordered>tfoot>tr:last-child>th, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom:0
}
.panel>.table-responsive {
    border:0;
    margin-bottom:0
}

.panel-default {
    border-color:#ddd
}
.panel-default>.panel-heading {
    color:#333;
    background-color:#f5f5f5;
    border-color:#ddd
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color:#ddd
}
.panel-default>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color:#ddd
}

@media (max-width:767px) {
    .visible-xs {
        display:block!important
    }
    table.visible-xs {
        display:table
    }
    tr.visible-xs {
        display:table-row!important
    }
    th.visible-xs, td.visible-xs {
        display:table-cell!important
    }
}
@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display:block!important
    }
    table.visible-sm {
        display:table
    }
    tr.visible-sm {
        display:table-row!important
    }
    th.visible-sm, td.visible-sm {
        display:table-cell!important
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
        display:block!important
    }
    table.visible-md {
        display:table
    }
    tr.visible-md {
        display:table-row!important
    }
    th.visible-md, td.visible-md {
        display:table-cell!important
    }
}
@media (min-width:1200px) {
    .visible-lg {
        display:block!important
    }
    table.visible-lg {
        display:table
    }
    tr.visible-lg {
        display:table-row!important
    }
    th.visible-lg, td.visible-lg {
        display:table-cell!important
    }
}
@media (max-width:767px) {
    .hidden-xs {
        display:none!important
    }
}
@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display:none!important
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display:none!important
    }
}
@media (min-width:1200px) {
    .hidden-lg {
        display:none!important
    }
}
.visible-print {
    display:none!important
}
@media print {
    .visible-print {
        display:block!important
    }
    table.visible-print {
        display:table
    }
    tr.visible-print {
        display:table-row!important
    }
    th.visible-print, td.visible-print {
        display:table-cell!important
    }
}
@media print {
    .hidden-print {
        display:none!important
    }
}