/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Lato", sans-serif;
  color: #2F0850;
  background-color: #f0eee1;
}

a {
  color: #f5484a;
  text-decoration: none;
    -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

img {
  max-width: 100%;
  margin-bottom:10px;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;  
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
/* -------------------------------- 

Navigation

-------------------------------- */
.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #030d18;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
#cd-logo img {
  display: block;
  width: 155px;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 25px 0 0 8%;
  }

}
@media only screen and (min-width: 820px) {
  .headline-info>li>a {
	margin-left:50%;
	padding: 0.1em 1em 0.1em 1em;
}
}
@media only screen and (max-width: 820px) {
  .headline-info>li>a {
	margin-left:30%
}
}
@media only screen and (min-width: 1170px) {
  #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */	
	left: 9.5%;
	opacity: 1;
	max-width: 95px;
	margin-top: 0.5%;
  visibility: visible;
  }
}

.hidden{
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  #cd-logo {
	  max-width:200px;
  }
  #cd-intro h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
  #cd-intro h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.headline-info>li>a {
	margin:10px 0 10px 20%;
}


}

.cd-primary-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
}
.cd-primary-nav a i{
  margin: 5px 10px;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #F3F3F3;
  }
  .cd-primary-nav a i{
	float: left;
	margin: 2px 10px;
	line-height: 1;
  }

}

/* -------------------------------- 

Intro

-------------------------------- */

#cd-intro #cd-intro-tagline {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
#cd-intro h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #F3F3F3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
#cd-intro h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #F3F3F3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  #cd-intro {
    height: 400px;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 160px;
  }
  #cd-intro h1 {
    font-size: 32px;
    font-size: 2rem;
    margin: 2em 1em 0;
    letter-spacing: 2px;
  }
  #cd-intro h2 {
    font-size: 32px;
    font-size: 1.5rem;
    padding-bottom: 5px;
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-intro {
    height: 555px;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 345px;
  }
}

.cd-btn {
  display: inline-block;
  padding: 1em 1.8em;
  background-color: #FF0051;
  margin-top: 1em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
.cd-btn-download {
    display: inline-block;
    padding: 0.7em 1.9em;
    background-color: #2EDE8F;
    margin-top: 1em;
    border-radius: 20em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    border: 2px solid #22C77D;
}
.no-touch .cd-btn:hover {
  background-color: #f5484a;
}

.download{
    display: block;
    text-align: center;
    margin-top: 2.5em;
}

@media only screen and (min-width: 1170px) {
  .cd-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .8em 1.2em;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  .cd-btn.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 5%;
    opacity: 1;
  }
}

/* -------------------------------- 

Secondary Fixed Navigation

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-secondary-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: rgba(3, 13, 24, 0.96);
  visibility: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
.cd-secondary-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
.cd-secondary-nav li a {
  display: block;
  padding: 1.1em;
  border-bottom: 1px solid #092645;
  color: #f0eee1;  	
}
.cd-secondary-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 1170px) {
  .cd-secondary-nav {
    z-index: 1;
    height: 100px;
    background-color: #2C1242;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    margin-top: -1px;
  }
  .cd-secondary-nav nav, .cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
    height: 100%;
  }
  .cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  .cd-secondary-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .cd-secondary-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 58px 40px 0 40px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;

  }
  .cd-secondary-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.3);
  }
  .cd-secondary-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 17px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
	
  }
  .cd-secondary-nav li a span i{
	  font-size:30px;
	  visibility:visible;	 	  
  }
  .cd-secondary-nav li a:hover b, .cd-secondary-nav li a.active b {
    color: #f0eee1;
  }
  .cd-secondary-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  .cd-secondary-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  .cd-secondary-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  .cd-secondary-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  .cd-secondary-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  .cd-secondary-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 1;
  }
  .cd-secondary-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .cd-secondary-nav.animate-children li a {
    padding: 26px 30px 0 30px;
  }
  .cd-secondary-nav.animate-children li a span {
    opacity: 0;
  }
}


.cd-secondary-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: rgba(3, 13, 24, 0.96);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-secondary-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-secondary-nav-trigger span::before, .cd-secondary-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cd-secondary-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger.menu-is-open {
  background: transparent;
}
.cd-secondary-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
.cd-secondary-nav-trigger.menu-is-open span::before, .cd-secondary-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
.cd-secondary-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-secondary-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav-trigger {
    display: none;
  }
}

/* -------------------------------- 

Placeholder Sections

-------------------------------- */
.cd-section {
  margin: 0 auto;
  padding: 2em 0;
}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em;
  font-weight: 300;
}

.cd-section p {
  line-height: 1.6;
}
/*
.cd-section a {
    display: block;
	color: #505050;
	padding: 10px 12px;
	text-align: center;
	position: relative;
	background-color: #fafafa;
	border: 1px solid #ddd;
	margin-top:2em;
  }

.cd-section a:hover {
	background-color: #fcfcfc;
	border-color: #e5e5e5;
	color: #2A6496;
}
.cd-section a:active, .cd-section a:focus {
    color:#3792A8;
    border-color:#d5d5d5
}  
.cd-section a i{
	font-size: 70px;
	margin: 0;
	display: block;
	font-weight: 400;
	padding-bottom: 10px;
}
*/
.cd-section ul{
	line-height:1.6;
	list-style:initial;
	padding-left:3%
	
}

#cd-placeholder-1{
  background-color: #F5F5F5;
  display: inline-flex;
  padding: 6em 0 0em 8em;
}

#cd-placeholder-2{
  background-color: #FFF;
  display: block;
  padding: 6em 8em 6em 8em;
}
#cd-placeholder-3{
  padding: 5em 8em 2em 8em;
  background-color: #F5F5F5;  
}
#cd-placeholder-4{
  background-color: #F5F5F5;  
  display: inline-flex;
  padding: 5em 0 0em 8em;
}
#cd-placeholder-5{
  padding: 3em 8em 3em 8em;
  background-color: #FFF;  
}

#cd-placeholder-6{
  background-color: #EFEFEF;  
  padding: 5em 6em 5em 8em;
}
#cd-placeholder-7{
  background-color: #FFF;  
  padding: 4em 8em 2em 8em;
}

@media (max-width: 480px){

  #cd-placeholder-1{    
    display:inherit;
    padding: 3em 2em 0em 2em;
  }

  #cd-placeholder-2{  
    display: block;
    padding: 6em 2em 6em 1.5em;
  }
  #cd-placeholder-3{
    padding: 5em 3em 0em 3em;
  }
  #cd-placeholder-4{    
    display: inherit;
    padding: 3em 2em 0em 2em;
  }
  #cd-placeholder-5{
    padding: 3em 2em 3em 2em; 
  }

  #cd-placeholder-6{    
    padding: 5em 2em 5em 2em;
  }
  #cd-placeholder-7{    
    padding:4em 3em 2em 3em;
  }

}

.side-left {
  width: 50%;
  display: inline-block;
  padding-bottom: 3em;
}
.side-right {
  width: 50%;
  display: block;
  position: relative;
}
.side-right img {
    position: absolute;    
}

.girl-desk-1{
    margin-bottom: -2px;
    width: 445px;  
    margin-left: 5em;
    bottom: 0;  
}
.girl-desk-2{
    margin-bottom: 0px;
    width: 445px;
    margin-left: 5em;
    bottom: 0;
}

@media (max-width: 480px) {
  .side-left {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 1em;
    z-index: 1;
  }    
    
  .side-right {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 8em;
  }
  .side-right img {
      position: absolute;    
  }

  .girl-desk-1{
    margin-bottom: -2px;
    width: 270px;
    margin-left: 0em;
    bottom: 0;
  }
  .girl-desk-2{
    margin-bottom: 0px;
    width: 345px;
    margin-left: 0;
    bottom: 0;
    opacity: 0.4;
  }  
}

@media only screen and (min-width: 1170px) {
  .cd-section {
    /*margin: 0 auto;*/
    padding: 5em 0 3em 8em;  
  }
  .cd-section h2 {
    font-size: 30px;
    font-size: 1.7rem;
    color: #561D8F;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.15rem;
  }
  .cd-section ul{
	font-size:1em;
	line-height:1.6	  	  
  }
  
}


/* -------------------------------- 

Main components TimeLine

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.strong{
    
    font-size: 12px;    
    color: #9A4B8A;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img span{
	position: relative;
	left: 40%;
	top: 20%;
}
.cd-timeline-img span i{
	font-size:32px;	
	color: #FFF;
}
.cd-timeline-img.cd-con {
  background: #2EDE8F;
}
.cd-timeline-img.cd-con span {
  position: relative;
  left: 40%;
  top: 25%;
}
.cd-timeline-img.cd-mod1 {
  background: #2EDE8F;
}
.cd-timeline-img.cd-mod1 span{
  position: relative;
  left: 30%;
  top: 25%;
}
.cd-timeline-img.cd-mod2 {
  background: #2EDE8F;
}
.cd-timeline-img.cd-mod2 span{
  position: relative;
  left: 30%;
  top: 25%;
}
.cd-timeline-img.cd-mod3 {
  background: #2EDE8F;
}
.cd-timeline-img.cd-mod3 span{
  position: relative;
  left: 30%;
  top: 22%;
}
.cd-timeline-img.cd-mod4 {
  background: #2EDE8F;
}
.cd-timeline-img.cd-mod4 span{
  position: relative;
  left: 25%;
  top: 23%;
}
.cd-timeline-img.cd-mod5 {
  background: #2EDE8F;
}
.cd-timeline-img.cd-mod5 span{
  position: relative;
  left: 28%;
  top: 24%;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em; 
  box-shadow: 0 3px 0 #EDEDED;
  border: 1px solid #ededed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #252525;
}
.cd-timeline-content span {
    margin-bottom: 2.5em;
    display: block;
    font-size: 14px
}
.cd-timeline-content span > i {
    font-size: 25px;
    margin-right: 10px;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0 0;
  line-height: 1.6;
  color: #000;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
	line-height:1.3em;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #EDEDED;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #EDEDED;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* ==========================================================================
BLocks
========================================================================== */
.info-blocks {
    list-style:none;
    width:100%;
    text-align:center;
    margin:0;
    margin-bottom:30px;
    padding:0
}
.info-blocks>li {
    display:inline-block;
    text-align:center;
    min-width:150px;
    white-space:nowrap;
    margin:0 10px 5px;
	 width:22%;
}
.info-blocks>li>a>i {
    font-size:48px;
    display:inline-block;
    margin-bottom:20px
}
.info-blocks>li>a:hover {
    opacity:.8;
    filter:alpha(Opacity=80);
    color:#fff
}
.top-info {
   margin: 10px 10px 10px;
}
.top-info>a {
    display:block;
    font-weight:600;
    text-transform:uppercase
}
.top-info>a:hover {
    opacity:.8;
    filter:alpha(Opacity=80);
    color:#fff
}
.top-info>small {
    font-size:15px;
    display:block;
    margin-top:-2px
}
.bottom-info {
    display:block;
    font-size:15px;
    padding:4px 8px 5px;
    font-weight:600;
    border-radius:0 0 2px 2px;
    -webkit-border-radius:0 0 2px 2px;
    -moz-border-radius:0 0 2px 2px
}
.bg-danger {
	font-weight:300;
    font-size:25px;
	padding: 10px 8px 10px;
	background-color: #fcfcfc;
	border: 1px solid #e5e5e5;
	margin-top:10px;
	margin-bottom:15px;
}
@media (max-width:478px) {
    .info-blocks>li {
        width:100%;
        margin:10px 0
    }
}
/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("../img/cd-icon-username.svg");
}
.cd-form label.cd-email {
  background-image: url("../img/cd-icon-email.svg");
}
.cd-form label.cd-password {
  background-image: url("../img/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}

.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}




/* Pagination */


.pagination {
  border-radius: 0;
}

.pagination > li {
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
}

.pagination > li > a,
.pagination > li > span {
  border-radius: 50% !important;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  z-index: 1;
  position: relative;
}

.pagination > li > a > .md,
.pagination > li > span > .md {
  font-size: 22px;
}

.pagination > li > a:before,
.pagination > li > span:before {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
  border-radius: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.pagination > li > a:hover:before,
.pagination > li > span:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.pagination > li.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}



/* -------------------------------- 

footer

-------------------------------- */

footer {
  background: #444;
  font-size: 14px;
  color: #999;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 2px 1PX rgba(63, 63, 63, 0.39);
}
footer .footer-partners {
  text-align: center;
  position: relative;
  background: #F1F1F1;
  padding: 20px 0;
  z-index: 2;
}
.footer {
    border-top:1px solid #ddd;
    padding:12px 0;
    text-align:center;
    font-size:11px;
    color:#777;
    background-color:#0B151F;
}
p.info {
	text-align: center;
	padding: 13px 0 3px;
}

@media all and (max-width:720px) {
  footer .footer-partners {
    margin-top: 0;
  }
}
footer .footer-partners a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 35px;
  opacity: 0.5;
}
footer .footer-partners a:hover {
  opacity: 1;
}
footer .footer-partners a img {
  display: inline-block;
  vertical-align: middle;
}
.icons-group {
	padding: 20px 0 30px 0;
}
.icons-group a {
    color:#555;
    margin-left:4px
}
.icons-group a:first-child {
    margin-left:0
}
.icons-group a:focus, .icons-group a:hover {
    color:#999
}
.footer .icons-group a {
    color:#999;
    float:center;
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
}
.footer .icons-group a i{
	font-size:30px;
}
.footer .icons-group a:focus, .footer .icons-group a:hover {
    color:#555
}

@media all and (max-width:960px) {
  footer .cols .col.col20:nth-child(1),
  footer .cols .col.col20:nth-child(2),
  footer .cols .col.col20:nth-child(3) {
    height: 250px;
  }
}
@media all and (max-width:720px) {
  footer .cols .col.col20:nth-child(3),
  footer .cols .col.col20:nth-child(4) {
    height: 170px;
  }
}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
	font-size: 1em;
	line-height: 1em;
}

#copyright li
{
	display: inline-block;
	border-left: solid 1px rgba(0,0,0,0.5);
	box-shadow: -1px 0px 0px 0px rgba(255,255,255,0.1);
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
}

#copyright li i
{
	padding-right:5px
			}

#copyright li:first-child
{
	border: 0;
	box-shadow: none;
	padding-left: 0;
	margin-left: 0;
}
		
@media (max-width: 480px){
  #copyright { 
      line-height: 2em;
  }  
}



.panel-body {
    padding:15px
}
.panel-body h4{	
	line-height: 1.6;
	margin-top: 0;
	font-size:1.25rem;
}
.panel-body h4 i{
	padding-right:5px;
}
.panel-heading {
    border-bottom:1px solid transparent;
    border-top-right-radius:3px;
    border-top-left-radius:3px
}
.panel-heading>.dropdown .dropdown-toggle {
    color:inherit
}
.panel-title {
    margin-top:0;
    margin-bottom:0;
    font-size:1.25rem;
    color:inherit
}
.panel-title>a {
    color:inherit
}
.panel-footer {
    padding:10px 15px;
    background-color:#f5f5f5;
    border-top:1px solid #ddd;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px
}
.panel>.list-group {
    margin-bottom:0
}
.panel>.list-group .list-group-item {
    border-width:1px 0;
    border-radius:0
}
.panel>.list-group:first-child .list-group-item:first-child {
    border-top:0;
    border-top-right-radius:3px;
    border-top-left-radius:3px
}
.panel>.list-group:last-child .list-group-item:last-child {
    border-bottom:0;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width:0
}

.label-default {
	background-color: #999;
	margin-left:10px;
}
.label-open {
	background-color: #31bc86;
	margin-left:10px;
}
.label {
	display: inline-block;
	font-size: 11px;
	padding: 5px 8px 6px;
	line-height: 13px;
	font-weight: 600;
	color: #FFF;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-align:center;
	width:65px;
}
.text-muted {
	color:#999;
	line-height:none
}
.text-primary {
	color:#428bca
}

.headline-info {
    margin:0
}
.headline-info>li {
	line-height:2rem;
	padding-top:10px;
}
.headline-info>li:first-child {
	padding-top:20px;	
}
.headline-info>small {
	font-size:12px;
	display: inherit;
	padding-bottom: 5px;
}
.headline-info>small>i {
	padding-right:5px;
}
.headline-info>li>a {
	display: inline-block;
	background-color: rgba(245, 72, 74, 0.9);
	border-radius: 20em;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	margin-top:0;
	border:none;
	font-size:15px
}
.headline-info>li>a:hover {
   background-color: #f5484a;
   color:#FFF;
}
.title {	
	display: inline-block;
}
.btn_muted{
	opacity:0.65;
	background-color:#999;
	cursor:not-allowed;

	
}


}
.headline-info>li>span>i {
    float:left;
    margin:-1px 6px 0 0;
    color:#999
}
@media (max-width:479px) {
    .headline-info>li {
        float:none;
        border:0;
        padding:0
    }
    .media-body .headline-info {
        display:none
    }
}

