@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #fff;
	color: #69606b;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
	font-family: 'Raleway', Arial, sans-serif;
	-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}


a {
	outline: none;
	color: #cf4a5c;
	text-decoration: none;
}

a:hover, a:focus {
	color: #69606b;
}

.breadcrumbs {
	text-align: center;
    margin-bottom: 10%;
    overflow: hidden;
}
.breadcrumbs .breadcrumbs-inner {
  display: inline-block;
}
.breadcrumbs a {
color: #040404;
    border: 1px solid #2F2F2F;
    padding: 7px 20px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin-left: -1px;
    float: left;
    width: 150px;
    background-color: white;

}
.breadcrumbs a:hover {
  background: #fff;
  color: #40158A;
}

.border-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
}
.border-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
}
