@charset "utf-8";
/*Colores 
Rojo: #bc3b38;
Rojos oscuros: #FFCBB9;
Rojos Claros: #FFE3DA;
Verde: #bc3b38;
Verdes oscuros: #A5F1CD;
Verdes Claros:  #C0F5DC;

*/

#principal {
	padding: 10px;
	height: 90%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#volver{
	top:1px;
	position:fixed;
	margin-left:0em;
	
}

#panel_principal{
	width:100%;
}

#panel_principal li{
	float:left;
	list-style-type: none;
	padding-left:10px;
	padding-top:10px;
	color:#8897BD;
}
#panel_principal a{
	color:#8897BD;
	font-size:14px;
	display:block;
	text-align:center;
	width:200px;
	padding:10px;
	margin:0 10px 10px 0;
	text-decoration:none;
	height:120px;
	background: #F3F3F3;
	text-transform:uppercase;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
}

#panel_principal a:hover { 
background-color:#E1E1E1;
}
#block{
	text-align:center;
	width:200px;
	border-bottom:none;
	height:22px;
	text-transform:uppercase;
	padding:10px;
	
	background: #bc3b38;
	cursor:pointer;
	color:#fff;
	font-family: 'roboto', sans-serif;
	font-weight: 300;
}
#reserva{
	font-size:24px;
	text-align:center;
	width:200px;
	border-bottom:none;
	height:22px;
	text-transform:uppercase;
	padding:10px;
	
	background: #bc3b38;
	cursor:pointer;
	color:#FFF;
	font-weight:bold;
	font-family:"Courier New", monospace;
}
#block_reserva a:hover{
	background-color:#FFCBB9;
}
#block_reserva a{
		color:#8897BD;
	font-size:14px;
	display:block;
	text-align:center;
	width:200px;
	padding:10px;
	margin:0 10px 10px 0;
	text-decoration:none;
	height:120px;
	background: #FFE3DA;
	text-transform:uppercase;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;

}

#informe{
	font-size:24px;
	text-align:center;
	width:200px;
	border-bottom:none;
	height:22px;
	text-transform:uppercase;
	padding:10px;
	
	background: #CCC;
	cursor:pointer;
	color:#FFF;
	font-weight:bold;
	font-family:"Courier New", monospace;
}
#block_informe a{
	color:#8897BD;
	font-size:14px;
	display:block;
	text-align:center;
	width:200px;
	padding:10px;
	margin:0 10px 10px 0;
	text-decoration:none;
	height:120px;
	text-transform:uppercase;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
	background-color: #F3F3F3;
}
#block_informe a:hover{
	background-color:#E1E1E1;
}


#grilla {
	background-color: #EEE;
	padding: 10px;
	height: 220px;
	width: 700px;
	margin:0 auto;
	
}

#grilla_cliente {
	background-color: #E8E8E8;
	padding: 10px;
	height:auto;
	width: 700px;
	margin:0 auto;
	border: 1px solid #CCC;
	border.radius: 10px;  /* Estandar CSS3 */
	-moz-border-radius:10px;  /* Mozilla Firefox*/
	-webkit-border-radius:10px; /* WebKit y Safari */
	border-radius: 10px; /* IE */
}

#grilla_reserva {
	width: 100%;
	height:0px;
	margin:0 auto;
	text-align:center;
	max-width:525px;

}
.grilla_reserva {
	width: 100%;
	height:0px;
	margin:0 auto;
	text-align:center;
	max-width:525px;

}
#grilla_cancha_fav{
	background-color: #E8E8E8;
	padding: 10px;
	width: 700px;
	margin:0 auto;
	border: 1px solid #CCC;

	
	border.radius: 10px;  /* Estandar CSS3 */
	-moz-border-radius:10px;  /* Mozilla Firefox*/
	-webkit-border-radius:10px; /* WebKit y Safari */
	border-radius: 10px; /* IE */
}
#grilla_cliente_fav{
	background-color: #E8E8E8;
	padding: 10px;
	width: 700px;
	margin:0 auto;
	border: 1px solid #CCC;

	
	border.radius: 10px;  /* Estandar CSS3 */
	-moz-border-radius:10px;  /* Mozilla Firefox*/
	-webkit-border-radius:10px; /* WebKit y Safari */
	border-radius: 10px; /* IE */
}

#reserva_hora{
	float:left;
	margin-left:15px;
	text-align:center;
}
.reserva_titulo{
	background: #E78581;
	height:3em;
	color:#FFF;
	}
.reserva_detalle{
	background: #FFF;
	height: 2.5em;
	}
.reserva_detalle:hover{
	background-color: #A5F1CD;
}
.reserva_nombre_cancha{
	text-transform:uppercase;
	background-color: #bc3b38;
	font-weight:bold;
	color:#FFF;
	height:3em;
	}

#muestra_paginador {
	background-color: #FFF;
	margin:0 auto;
	border: 1px solid #CCC;
	height: 28px;
	padding: 5px;
}

#modulo {
	background-color: #EEE;
	padding: 10px;
	width: 700px;
	margin:0 auto;
	/*border: 1px solid #CCC;*/

}

#modulo_buscador {
	background-color: #E8E8E8;
	padding: 10px;
	width: 800px;
	margin:0 auto;
	border: 1px solid #CCC;
	
	border.radius: 10px;  /* Estandar CSS3 */
	-moz-border-radius:10px;  /* Mozilla Firefox*/
	-webkit-border-radius:10px; /* WebKit y Safari */
	border-radius: 10px; /* IE */
}


#detalle{
	background-color: #E8E8E8;
	padding: 10px;
	width: 500px;
	margin:0 auto;
	border: 1px solid #CCC;
	
	border.radius: 10px;  /* Estandar CSS3 */
	-moz-border-radius:10px;  /* Mozilla Firefox*/
	-webkit-border-radius:10px; /* WebKit y Safari */
	border-radius: 10px; /* IE */
}

.edit{
		 position:relative;
		 float:left;
		 display:block;
		 background:#F8F8F8;
		 width:45%;
		 min-width:45%;
	}
.delete{
		 position:relative;
		 float:left;
		 display:block;
		 background:#F0F0F0;
		 width:45%;
		 min-width:45%;

	}
	
	
.registro_grilla1 {
	background:#A5F1CD;
	height: 100%;
	width: 100%;
}
.registro_grilla2 {
	background:#FFF;
	height: 100%;
	width: 100%;
}

#tick{
	cursor:pointer;
}
#iconos {
	padding: 10px;
	width: 90%;
	border: 2px solid #999;
	background-color: #F4F4F4;

	
	border.radius: 10px 10px 10px 10px;  /* Estandar CSS3 */
	-moz-border-radius:10px 10px 10px 10px;  /* Mozilla Firefox*/
	-webkit-border-radius:10px 10px 10px 10px; /* WebKit y Safari */
	border-radius: 10px 10px 10px 10px; /* IE */
	box-shadow: 10px 10px 10px #ccc;
	-webkit-box-shadow: 10px 10px 10px #ccc;
	-moz-box-shadow: 10px 10px 10px #ccc;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#button-tick{
	background:#FFF;
	width:100%;
	}
#button-edit{
	background:#F7F7F7;
	width:50%;
	float:left;
	}
#button-delete{
	background:#EEE;
	width:50%;
	min-width:40%;
	float:right;
	}
	

.button-close{
	background:#EEE;
	width:100%;
	min-width:100%;
	float:left;
	height:2em;
}
.button-return{
	background:#F7F7F7;
	width:100%;
	min-width:100%;
	float:left;
	height:2em;
}

/***********FORMS ***************/
.g-button-submit {
    background-color: #B42222;
 /*   background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);*/
    border: 1px solid #B42222;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-user-select: none;
     border-radius: 2px 2px 2px 2px;
    cursor: default; /* ----- default */
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
    transition: all 0.218s ease 0s;
	/*cursor:pointer; ----- default */
}
.g-button-submit:hover {
	background-color: #B42222;
	/*background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);*/
	border: 1px solid #B42222;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	cursor:pointer;	/* ----- default */
}
.g-button-submit:active {
	background-color: #D23500;
	/*background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);*/
}


.k-textbox
{
    font-size: 100%;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
}

.k-textbox
{
    padding: .4em .2em;
}
.k-input, .k-textbox {
  background-color: #ffffff;
}
.k-textbox{
  color: #2e2e2e;
}

.k-textbox{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.k-textbox
 {
  border-color: #c5c5c5;
}

/***********FIN FORMS ***************/

/********************FUENTES****************/
.fuente_formularios {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
}
.fuente_formulario_titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0C3;
	font-weight:bold;
	text-transform:uppercase;
}

.fuente_titulo_modulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.fuente_titulo_grilla {
	font-family:"Courier New", monospace;
	font-size: 12px;
	color: #bc3b38;
	text-transform: uppercase;
	text-align: center;
	font-weight:bold;
}


.fuente_login {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	font-size:12px;
	color: #666;
	text-align: right;
}
.fuente_titulo_login {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	color: #B42222;
	text-align: left;
	
}


.fuente_titulo_iconos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #E71834;
	text-align: center;
}
.fuente_normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}

.fuente_normal_textos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

.fuente_error_sesion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;
	text-align: center;
}

/*TERMINO DE FUENTES */

/*TABLET*/

@media screen and (max-width: 720px) {
	#grilla, #modulo, #grilla_cancha_fav, #grilla_cliente_fav{
		width:100%;
		padding: 0px;
		border:none;
	}
	#modulo_buscador, #detalle {
		width:100%;
	}
	
	
}


/*SMARTPHONE*/
@media screen and (max-width: 480px) {

#informe, #reserva, #block{
	font-size:17px;
	width:100px;
}
#panel_principal a{
	width:100px;
}
#panel_principal li{
	padding:0px;
}
#informe{
	font-size:15px;
}
.fono, .correo{
	display:none;
}
}