@charset "utf-8";
/*Colores 
Rojo: #bc3b38;
Rojos oscuros: #FFCBB9;
Rojos Claros: #FFE3DA;
Verde: #30D500;
Verdes oscuros: #A5F1CD;
Verdes Claros:  #C0F5DC;

*/


body{
        padding: 0;
        margin: 0;
		height: 100%;
        width: 100%;
		min-height:100%;
		
}
html {
/*	background:url(../imagenes/Fondos/fondo1.png);*/
	border-left:1px solid rgba(0,0,0,1);
}
header h1{
	margin:0 auto;
	width:400px;
	color:#044AED;
	}
a{
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666
} 
a link{
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#666
}
a hover{
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666
}
a visited{
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666
}
#caja_login table{
	width:100%;
	padding:10px;
	text-align:center;
	}
#caja_login {
	position:absolute;
	top: 50%;
	left: 50%;
	width:50%;
	height:auto;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	background-color: #F5F5F5;
	
	border.radius: 10px 10px 10px 10px;  /* Estandar CSS3 */
	-moz-border-radius:10px 10px 10px 10px;  /* Mozilla Firefox*/
	-webkit-border-radius:10px 10px 10px 10px; /* WebKit y Safari */
	border-radius: 10px 10px 10px 10px; /* IE */

}
@media all and (max-width: 768px) {
	#caja_login {
		width:100%;
		top:25%;
		left: auto;
		margin-top:auto; /*set to a negative number 1/2 of your height*/
		margin-left:auto; 
	}
}


#logo {
	text-align: right;
	float: right;
}

footer{
	background-color:#FF7400;
	text-align: center;
	bottom:0;
	width:100%;
	border:0px;
	margin:0 auto;
	position:absolute;
	font-family: arial, sans-serif;
font-size: 0.5em;
letter-spacing: 3.6pt;
word-spacing: 3pt;
display:none;
}
#pie {
	background-color:#E71834;
	text-align: center;
	overflow:auto;
	bottom:0;
	position:absolute;
	width:100%;
	border:0px;
	visibility: hidden;
}
#credenciales {
	position:relative;
	margin:0 auto;
	width: 400px;
	text-align:center;
margin-bottom:30px;
}
#cabecera {
	width: 100%;
	text-align:center;
}


@media all and (max-width: 440px) {
	#credenciales {
		width:100%;
		position:relative;
	margin:0 auto;
	}
}
.summernote .note-editable {
  text-align: justify
}


#summernote .note-editable {
  text-align: justify
}